<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.gitcommand.dao.CommandMapper">

	<resultMap id="BaseResultMap" type="com.weixin.gitcommand.model.Command">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="command_name" jdbcType="VARCHAR" property="commandName" />
		<result column="command_desc" jdbcType="VARCHAR" property="commandDesc" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,command_name,command_desc
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_command
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_command
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.weixin.gitcommand.model.Command">
		insert into tb_command (id, command_name, command_desc
		)
		values (#{id,jdbcType=INTEGER}, #{commandName,jdbcType=VARCHAR},
		#{commandDesc,jdbcType=VARCHAR}
		)
	</insert>
	
</mapper>